<div class= "col-12 pageview">
    <div>
        <div class = "row">
            <div class="pList_title col-md-6">
                <h4>Product List</h4>
            </div>
            <div class="col-md-6 searchbox">
                <input type="text" class="searchTerm" placeholder="Search">
                <div class="searchButton">
                    <i class="fa fa-search"></i>
                </div>
                <div class = "addButton" (click) = "addNewProduct()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div>
            <table class = "table borderless">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Thumbnail
                    </th>
                    <th>
                        Stock Balance
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Warehouse
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>
