.img-container{
    width: 100%;
    height: 200px;
    text-align: center;
}

.list-table{
    font-size: small;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 2;
}

.fix{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: whitesmoke;
    padding-top: 20px;
    border-bottom: 1px solid #cfd9e0;
}

.pList_title{
    float: left;
}

.product{
    box-shadow: 0 4px 10px -5px;
    position: relative;
    background-color: white;
    padding : 18px;
}

.product:hover{
  cursor: pointer;
  box-shadow: 0 2px 10px 5px #0000003b;
}

@media only screen and (min-width: 1025px) {
    .searchbox{
        text-align: right;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    .product{
        width: 23%;
        margin: 1%;
    }
    .pageview{
      padding-top: 90px;
    }
    .addButton{
      width: 70px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 767px) {
    .searchbox{
        text-align: right;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    .product{
        width: 30.5%;
        margin: 1.2%;
    }
    .pageview{
      padding-top: 90px;
    }
    .addButton{
      width: 70px;
    }
}


@media only screen and (max-width: 767px) and (min-width: 427px) {
    .searchbox{
        text-align: left;
        position: relative;
        display: flex;
    }
    .product{
        width: 47%;
        margin: 1.5%;
    }
    .pageview{
      padding-top: 110px;
    }
    .modal-content{
      margin-top: 40%;
      width: 100% !important;
    }
}

@media only screen and (max-width: 426px){
    .searchbox{
        text-align: left;
        position: relative;
        display: flex;
    }
    .product{
        width: 100%;
        margin: 10px;
    }
    .pageview{
      padding-top: 110px;
    }
    .modal-content{
      margin-top: 40%;
      width: 100% !important;
    }
}

.searchTerm {
  border: 1px solid gainsboro;
  border-right: none;
  height: 30px;
  border-radius: 0px;
  outline: none;
  border: none;
  width: 170px;
}

.input-group{
  border: 1px solid #ccc;
}

.input-group-text{
  background-color: white;
  border: none;
  width: 100%;
}

.input-group:focus-within {
  border-color: #497b9c;
  box-shadow: none;
}
.input-group:focus-within *:focus {
  outline: 0;
}

.edit , .delete, .detail{
  min-width: 40px;
  height: 30px;
  border: 1px solid gainsboro;
  background: gainsboro;
  text-align: center;
  color:black;
  border-radius: 0;
  cursor: pointer;
  padding: 1px;
}

.addButton{
  min-width: 40px;
  height: 30px;
  background: gainsboro;
  text-align: center;
  color:black;
  border-radius: 0;
  cursor: pointer;
  padding: 1px;
  margin-left: 5px;
}

.addButton:hover{
  color: white;
  background-color: #9999d0;
}


.action{
    min-width: 100px;
    text-align: center;
}

.line-clamp {
   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


@media (pointer:none), (pointer:coarse) {
    .buttons{
        display: block;
    }
}

.buttons{
    display: none;
}



/* ---------------------------------- */

img {
  max-width: 100%;
  max-height: 100%;
}


.delete , .edit, .detail{
  width: 30%;
  height: 35px;
}

.delete:hover{
  color: white;
  background-color: #e88282;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.edit:hover{
  color: white;
  background-color: #9999d0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.detail:hover{
  color: white;
  background-color: #7ac767;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.message{
    opacity: 0.5;
    text-align: center;
    width: 100%;
    font-size: xx-large;
    margin-top: 150px;
}

.far, .fas{
  font-size: small;
}

.name{
  font-size: larger;
  font-weight: 700;
}
.text{
  color: rgba(0, 0, 0, 0.589);
}

.swal2-popup {
  font-size: .8rem !important;
  background-color: whitesmoke;
  border-radius: 0;
}

.toprow{
  margin-left: 0;
}

.input-group:focus-within {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 
  0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}
.input-group:focus-within *:focus {
  outline: 0;
}

.pagination{
  justify-content: center;
}

.modal-content{
  margin-top: 40%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
}


.modal-btn-yes , .modal-btn-no{
  width: 100%;
  border-radius: 0;
  background-color: #ccc;
}

.modal-btn-yes:hover{
  color: white;
  background-color: #9999d0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.modal-btn-no:hover{
  color: white;
  background-color: #e88282;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.fa-close:hover{
  cursor: pointer;
}