<div class = "fix">
    <div class="row col-12 toprow">
        <div class="pList_title col-md-6">
            <h4>Product List</h4>
        </div>
        <div class="col-md-6 searchbox">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" *ngIf="searchFocus">
                            <i class="fa fa-search focus"></i>
                        </span>
                        <span class="input-group-text" *ngIf="!searchFocus">
                            <i class="fa fa-search focusout"></i>
                        </span>
                    </div>
                    <input type="text" class="searchTerm" placeholder="Search" [(ngModel)]="search" (ngModelChange)="searchBar()">
                </div>
            </div>
            <div class="addButton d-flex align-items-center justify-content-center" (click)="addNewProduct()">
                <i class="fa fa-plus" aria-hidden="divue"></i>
            </div>
        </div>
    </div>
</div>
<div class= "col-12 pageview">
    <div>
        <div class = "row"> 
            <div class = "message" *ngIf = "noData">
                No product found!
            </div>
            <div *ngFor="let item of displayList | paginate: { itemsPerPage: 12, currentPage: p}" class="product">
                <div class="img-container" (click)="productDetail(item.itemID)" title= "Details">
                    <img src="http://localhost:5000/{{item.image_path}}">
                </div>
                <div class="list-table" (click)="productDetail(item.itemID)" title= "Details">
                    <div class="name">
                        {{item.name}}
                    </div>
                    <div class="text">
                        {{item.price}}&nbsp;&nbsp;Ks
                    </div>
                    <div class="text">
                        {{item.warehouse}}
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="detail d-flex align-items-center justify-content-center" (click)="productDetail(item.itemID)"
                        title="Details">
                        <i class="fas fa-align-left"></i>
                    </div>
                    <div class="edit d-flex align-items-center justify-content-center" (click)="editPage(item.itemID)" title="Edit">
                        <i class="far fa-edit"></i>
                    </div>
                    <div class="delete d-flex align-items-center justify-content-center" data-toggle="modal" data-target="#imagemodal" (click) = confirmBox(item.itemID)
                        title="Delete">
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
        </div>
    </div>
</div>

<div class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    Message
                </div>
                <div data-dismiss="modal">
                    <i class="fa fa-close"></i>
                </div>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="modal-btn-yes btn" data-dismiss="modal"
                    (click)="deleteItem(currentID)">Yes</button>
                <button type="button" class="modal-btn-no btn" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
