
.login{
    width: 90%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;  
    margin: 5%;
}

.image{
    text-align: center;
}

.btn{
    width: 100%;
    border-radius: 0;
    line-height: 2;
    background-color: #9999d0;
    color: white;
}


.title {
    font-family: "Segoe";
    font-size: 30px;
    color: rgb(43, 43, 43);
    margin-bottom: 5px;
    text-align: center;
    text-shadow: 2px 2px 3px #635b5b8f;
}

.form-control{
    background-color: white;
    line-height: 2;
}

.bg{
    background-color: whitesmoke;
    width: 100%;
    background-position: center;
    position: absolute;
    height: 100%;
}

.center{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.swal2-popup {
  font-size: .8rem !important;
  background-color: white;
  border-radius: 0;
}

.message{
    border: 1px solid orange;
    background-color: #ffa5004a;
    line-height: 2;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    position: absolute;
    z-index: 1000;
    right: 0;
}


@media only screen and (max-width: 767px) {
    .message{
        width: 100%;
        top: 0;
        margin-top: 0;
    }
}

@media only screen and (min-width: 768px) {
    .message{
        width: 350px;
    }
}

.row{
    margin-left: 0;
}

.input-group-text{
    width: 50px;
    padding-left: 15px;
    background-color: white;
    border: none;
}

.form-control:focus{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border: none;
    background-color: white;
}

.focus{
    color: black;
}

.focusout{
    color: #9999d0;
}
