<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Uploading... </p>
</ngx-spinner>
<div *ngIf="warnMessage">
    <div class="warn-message">
        <i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;{{messageText}}
    </div>
</div>
<div *ngIf="successMessage">
    <div class="success-message">
        <i class="far fa-check-circle"></i>&nbsp;&nbsp;{{messageText}}
    </div>
</div>
<div class="col-12 pageview" id = "pageview">
    <div class = "input-form">
        <div>
            <h4>New product</h4>
        </div>
        <br>
        <form (ngSubmit) = "submit()" [formGroup] = "form">
            <div class = "row">
                <div class = "col-md-6">
                    <div class = "row">
                        <div class="form-group col-md-6">
                            <label for="name" >Name&nbsp;<strong class="required">*</strong></label>
                            <input type="text" class="form-control" id="name" name="name" formControlName="name"/>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="stock_balance" >Stock Balance&nbsp;<strong class="required" >*</strong></label>
                            <input type="text" class="form-control" id="stock_balance" name="stock_balance" formControlName="stock_balance" (ngModelChange) = "validateStockBalance()"/>
                            <a *ngIf="!stockValidate"><small class= "required">*Numbers only!</small></a>
                        </div>
                    </div>
                    <div class = "row">
                        <div class="form-group col-md-6">
                            <label for="price" >Price&nbsp;<strong class="required">*</strong></label>
                            <input type="text" class="form-control" id="price" name="price" formControlName="price" (ngModelChange) = "validatePrice()">
                            <div *ngIf="!priceValidate"><small class= "required">*Numbers only!</small></div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="warehouse" >Warehouse&nbsp;<strong class="required" >*</strong></label>
                            <select class="browser-default custom-select" name="warehouse" id="warehouse" formControlName="warehouse">
                                <option [value]="w_house['id']" *ngFor="let w_house of warehouse">{{w_house.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description&nbsp;<strong class="required" >*</strong></label>
                        <textarea type="text" class="form-control textarea" id="description" name="description" formControlName="description">
                        </textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="image" >Thumbnail&nbsp;<strong class="required">*</strong></label>
                        <div class="form-group center">
                            <input type="file" name="file" id="file" class="input-file" (change)="onImagePicked($event)"
                                accept="image/jpeg, image/jpg">
                            <label for="file" class="btn btn-select">
                                <i class = "fas fa-cloud-upload-alt">&nbsp;&nbsp;</i>Upload
                            </label>
                        </div>
                    </div>
                    <div *ngIf = "imageUrl">
                        <hr>
                            <img [src] = "imageUrl" width="100%" height="auto">
                        <hr>
                    </div>
                    <div>
                        <button class = "btn submit">Submit &nbsp;&nbsp; <i class="fas fa-arrow-circle-right"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

