
@media only screen and (max-width: 767px) {
    .warn-message, .success-message{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .warn-message, .success-message{
        width: 350px;
    }
}

.btn, .form-control, .custom-select{
    background-color: whitesmoke;
    border: none;
}

.input-group-text {
    background-color: whitesmoke;
    border: none;
}

.input-group:focus-within *:focus {
  outline: 0;
}

